$primary-color: #286484;
$primary-dark-color: #e1923e;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-black-light: #929292;
$color-black-dark: #444444;
$default-font-size: 1.6rem;
