/* Footer section */
/*footer {
  background-color: $color-black;
  opacity: 0.9;
  color: $color-white;
  padding: 6rem 8rem 1rem 8rem;
  margin-top: 2rem;

  & button {
    margin-top: 6px;
  }

  & input[type="text"] {
    width: 35rem;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-size: 1.6rem;
    background-color: white;
    background-position: 1rem 1rem;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }

  & .icons {
    margin-top: 6rem;
    text-align: right;
  }

  .fa {
    padding: 1.2rem;
    font-size: 2rem;
    width: 15%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    &:hover {
      opacity: 0.7;
      color: white;
      text-decoration: none;
    }

    &-facebook {
      background: #3b5998;
      color: white;
    }
    &-twitter {
      background: #55acee;
      color: white;
    }
    &-instagram {
      background: #125688;
      color: white;
    }
    &-linkedin {
      background: #007bb5;
      color: white;
    }
  }
}

@media only screen and (max-width: 765px) {
  footer .icons {
    margin-top: 20px;
    text-align: left;
  }
}
*/
